<footer>
    <footer>
        <div id="footer">
        <div class="footer-columns">
            <!-- Column for menu items -->
            <div class="footer-menu">
                <h4>Fresh Eatery</h4>
                <a href="/">Home</a>
                <a href="../mealKits/on-the-menu">On the Menu</a>
                <a href="/sign-up">Sign Up</a>
                <a href="/log-in">Log In</a>
            </div>
    
            <!-- Column for social media links -->
            <div class="social-media-links">
                <h4>Follow Us</h4>
                <div class="social-media-row">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="/images/icons8-facebook-48.png" alt="Facebook">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="/images/icons8-twitterx-50.png" alt="Twitter">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="/images/icons8-instagram-48.png" alt="Instagram">
                </a>
            </div>
            </div>
    
            <!-- Column for company information -->
            <div class="company-information">
                <h4>Our Company</h4>
                <p>About Us</p>
                <p>Our Team</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
            </div>
    
            <!-- Column for contact information -->
            <div class="contact-info">
                <h4>Contact Us</h4>
                <p>Email: info@fresheatery.com</p>
                <p>Phone: (123) 456-7890</p>
                <p>Address: 123 Fresh Street, Cityville</p>
            </div>
    
            <!-- Column for payment methods -->
            <div class="payment">
                <h4>Payment Method</h4>
                <p>We accept:</p>
                <img src="/images/icons8-visa-48.png" alt="Visa">
                <img src="/images/icons8-mastercard-48.png" alt="Mastercard">
                <img src="/images/icons8-paypal-48.png" alt="PayPal">
            </div>
        </div>
    
    
        <p class="copyright-statement">
            © Dongqin Ran, naomiranengineer@gmail.com
        </p>
    </div>
        
    
</footer>


