<!doctype html>
<html>

<head>
   
 
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <!-- include head-->
   <%- include("../partials/header") %>
   <header>
      <a href="/"><img id="logo" src="/images/logo.jpg" alt="Fresh Eatery"></a>
        <!-- Include navbar partial -->
      <%- include("../partials/navbar") %>
</header>

  <%- body %>
   <!-- Include footer partial -->
   <%- include("../partials/footer") %>
</body>


</html>