<!--display the mealkits-->
<% layout = '../layouts/main' %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Link the CSS file -->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/welcome.css">

</head>
<body>
    <p>Welcome to Fresh Eatery!</p>
    <p>Your gateway to a healthier lifestyle!</p>

</body>