/* Buttons */
.button-8 {
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all .3s ease;
  background: orange;
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  margin: 10px 5px; /* Adjust margin between button and checkbox */
}

.button-8:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

